/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------------------*/
nav div ul li{
  display: inline;
  margin-right: 15px;
  font-size: 13px;
}

h1 {
  
}

.flex-container {
  display: flex;
}

.flex-align {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-sz-1 {
  flex: 1;
}

.flex-sz-2 {
  flex: 2;
}

.flex-sz-3 {
  flex: 3;
}

.flex-sz-4 {
  flex: 4;
}

.flex-sz-5 {
  flex: 5;
}

.flex-sz-6 {
  flex: 6;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.bg-color-black {
  background-color: black;
}

.bg-color-white {
  background-color: white;
}

.t-n-font a{
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  text-decoration: none;
}

.t-n-font a:hover{
  color: white;
}

.t-n-font-2 a {
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(100, 100, 100);
  text-transform: capitalize;
}

.h-32 {
  height: 32px;
}

.h-48 {
  height: 48px;
}

.x-margin-16 {
  margin: auto 16px;
}

#gray-nav {
  background-color: #fefefe;
}